.pageCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
}

.container {
  display: flex;
  flex-direction: row;
  /* gap: %; */
  flex-wrap:wrap;
  justify-content:space-around;
  margin-top: 2%;
  /* background-color: aliceblue; */
  width: 100%;
}

.card {
 margin: 1%;
 /* width: 10%; */
}

.textContainer {
  position: relative;
}


.overlayText {
  position: absolute;
  top: 40%; 
  /* left: 10px; Ajuste a coordenada 'left' conforme necessário */
  color: aliceblue;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  z-index: 1; 
}


.textInH1 {
  color:#a88c43; /* Cor desejada */
  font-family: 'Fonte desejada', sans-serif; /* Substitua 'Fonte desejada' pela fonte desejada */
  font-size: 9em; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
}
@media screen and (max-width: 600px) {
  .overlayText {
    position: absolute;
    top: 40%; 
    /* left: 10px; Ajuste a coordenada 'left' conforme necessário */
    color: aliceblue;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    z-index: 1; 
  }
  
  
  .textInH1 {
    color:#a88c43; /* Cor desejada */
    font-family: 'Fonte desejada', sans-serif; /* Substitua 'Fonte desejada' pela fonte desejada */
    font-size: 4.5em; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
  }
}