.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .accordion {
    width: 45em;
  }
  
  .item {
    background: #f0ebe1;
    margin-bottom: 1em;
    padding: 1em 3em;
  }
  
  .title {
    color: #85662b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .content {
    color: #857d6e;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }
  
  .show {
    max-height: 90em; /* Ajuste esse valor conforme necessário para a altura máxima que desejar */
    transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
  }
  
  .Text {
    position: relative;
    top: 6em;
    left: 23em;
    color: #a88c43;
    font-weight: bold;
    font-size: 50px;
    
  }
  
  .textInH1 {
    position: relative;
    top: 7em;
    left: 20em;
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
  }
  .sanfona{
    width: 100%;
    margin-top: -19em;
  }