.meucarrossel {
    padding-top: 16em;
    width: 100em; 
    margin:  auto; 
  }
  
  /* Estilo para os slides do carrossel */
  .carousel-item img {
    max-height: auto; /* Ajuste conforme necessário */
    margin: auto; /* Centraliza a imagem dentro do slide */
  }
  
  

  
  
  @media screen and (max-width: 600px) {
    .meucarrossel {
        padding-top: 3em;
        width: auto; /* Ajuste conforme necessário */
        margin:  auto; /* Centraliza o carrossel */
      }
      
      /* Estilo para os slides do carrossel */
      .carousel-item img {
        max-height: auto; /* Ajuste conforme necessário */
        margin: auto; /* Centraliza a imagem dentro do slide */
      }
      
  }