

.container {
   display: flex;
   flex-direction: column;
   align-items: center; /* Centraliza os elementos ao longo do eixo transversal (vertical) */
   justify-content: center; /* Centraliza os elementos ao longo do eixo principal (horizontal) */
   height: 1vh; /* Altura da viewport para centralizar verticalmente */
}



.Text {
    position: relative;
    top: 8.5em;
    left: 14em;
    color: #a88c43;
    font-weight:bolder;
    font-size: 3em;
    display: flex;
    width: 30%;
    /* text-align: center; */
   
  }


 .Text1{
    position: relative;
    top: 12.0em;
    left: 24.9em;
    color: #ffffff;
    font-weight:bold;
    font-size: 2em;
    display: flex;
    width: 40%;
    text-align: center;
   
 }
 .Text2{
    position: relative;
    top: 15.3em;
    left: 20.4em;
    color: #ffffff;
    font-weight:lighter;
    font-size: 1.5em;
    display: flex;
    width: 15%;
    /* text-align: center; */
   
 }
 .form{
    display: flex;
    flex-direction: column;
    max-width: 30em;
    gap:1em ;
    padding: 2em;
    padding-left: 4.3em;
    
 }


 .wrapper {
   position: relative;
   width: 33em;
   height: 23em;
   border-top-left-radius: 30em;
   border-radius: 2em;
   background-color: #101613;
   margin-top: 2em;
   transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a mudança de sombra */
}

.wrapper:hover {
   box-shadow: 0 0 2em rgba(255, 217, 1, 0.5); /* Adiciona uma sombra ao passar o mouse */
}
 .form input {
   padding: 1.0em; /* Adiciona algum espaço interno aos campos */
   margin-bottom: 0.5em; /* Adiciona algum espaço entre os campos */
}

.form button {
   padding: 0.5em 1em;
   transition: background 0.3s ease; /* Adiciona uma transição suave para a mudança de cor de fundo */
   background: #a88c43;
   color: #fff;
   border-radius: 0.5em;
}  

.form button:hover {
   box-shadow: 0 0 2em rgba(255, 255, 255, 0.5); /* Adiciona uma sombra ao passar o mouse */
   color: #fff; /* Altera a cor do texto para branco ao passar o mouse */
}
h1 {
   color: #ffffff; /* Substitua pela cor desejada */
}