.container{
    margin-top: 200px;
}
.Text {
    position: relative;
    top: 180px;
    left: 18%;
    color: aliceblue;
    font-weight: bold;
    font-size: 50px;
    width: 65%;
    text-align: center;
  }
  
  .textInH1 {
    position: relative;
    top: -45px;
    left: 1090px;
    color: #a88c43;
    font-size: 50px;
    font-weight: bold;
  }
  .cardcontainer{
    display:flex;
    margin-top: 300px;
    justify-content: center;
    gap: 80px;
    width: 60%;
    margin-left: 22%;
  }

  .Text2 {
    text-align: rtl;
    color: aliceblue;
    position: relative;
    font-size: normal;
  }
  
  
  .textInH2 {
    top: 6970px;
    position: absolute;
    text-align: center;
    color: #a88c43;
    font-size: 25px;
    font-weight: bold;
  }

  .card1,
  .card2,
  .card3
   {
    border-right: 1px solid #a88c43;
    padding-right: 90px;
  }
  