/* Slideshow.module.css */
.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Text {
  position: relative;
  top: 180px;
  left: 20%;
  color: aliceblue;
  font-weight: bold;
  font-size: 50px;
  width: 65%;
  text-align: center;
}

.textInH1 {
  position: relative;
  top: -45px;
  left: 200px;
  color: #a88c43;
  font-size: 50px;
  font-weight: bold;
}

.container2 {
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('../Assets/images/ft1.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: -1; Isso coloca a imagem por trás do conteúdo do cabeçalho */
    background-color: aliceblue;
}

.textInH12 {
  position: relative;
  top: -500px; /* Ajuste a posição vertical conforme necessário */
  color: #a88c43;
  font-size: 64px;
  font-weight: bold;
  border-bottom: 1px solid #a88c43;
  padding-bottom: 30px;
}

.Text2 {
  position: relative;
  top: -500px; /* Ajuste a posição vertical conforme necessário */
  left: 0;
  width: 30%;
  margin: 0 auto;
  color: aliceblue;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}

.card1{
  position: absolute;
  left: 70%;
  top: 40%;
}
.card2{
  position: absolute;
  left: 20%;
  top: 30%;
}
.card3 {
  position: absolute;
  left: 45%; /* Mantenha a coordenada left para a posição horizontal */
  top: 60%; /* Mantenha a coordenada top para a posição vertical */
}
.bottomText {
  position: absolute;
  bottom: -100px; /* Ajuste a distância da parte inferior conforme necessário */
  text-align: center;
  width: 100%;
  color: #fff; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte do texto */
  /* Outros estilos desejados para o texto na parte inferior */
}

.cardTop {
  top: -400px;
  position: relative; /* Use relative positioning para que o texto fique na parte superior */
}
