/* Slideshow.module.css */
.container {
  margin-top: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('../Assets/images/ft1.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: -1; Isso coloca a imagem por trás do conteúdo do cabeçalho */
  background-color: aliceblue;
}




.textInH12 {
  position: relative;
  top: -6em;
  left: 7.6em;
  color: #a88c43;
  font-size: 5em;
  font-weight: bold;
  border-bottom: 1px solid #a88c43;
  padding-bottom: 30px;
}

.Text2 {
  position: relative;
  top: -15em;
  left: 19em;
  margin: 0 auto;
  color: aliceblue;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.cardeprimeiro,
.cardesegundo,
.cardeterceiro {
  width: 25em;
  height: 25em;
}

.cardeprimeiro {
  position: relative;
  left: 35%;
  top: 5%;
  background-color: #233129;

  transform: rotate(45deg);
}

.cardesegundo {
  position: relative;
  left: -40%;
  top: -5%;
  background-color: #233129;
  transform: rotate(45deg);
}

.cardeterceiro {
  background-color: #233129;
  transform: rotate(45deg);
  position: relative;
  left: -27%;
  top: 30%;
}

.bottomText1 {
  position: relative;
  bottom: -10em;
  left: -40em;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}

.bottomText2 {
  position: relative;
  bottom: -28em;
  left: 21.5em;
  text-align: center;
  color: #ffffff;
  font-size: 1.3em;
}

.bottomText3 {
  position: relative;
  bottom: -16em;
  left: -7.5em;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}


@media screen and (max-width: 600px) {

  .cardeprimeiro,
  .cardesegundo,
  .cardeterceiro {
    width: 10em;
    height: 4em;
  }

  .cardeprimeiro {
    position: relative;
    left: 7.0em;
    top: 1.9%;
    background-color: #233129;

    transform: rotate(45deg);

  }

  .cardesegundo {
    position: relative;
    left: -25%;
    top: 25%;
    background-color: #233129;

    transform: rotate(45deg);
  }

  .cardeterceiro {
    position: relative;
    left: -72%;
    top: -10%;
    background-color: #233129;
    transform: rotate(45deg);
  }

  .textInH12 {
    position: relative;
    top: -8em;
    left: 3.5em;
    color: #a88c43;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #a88c43;
    padding-bottom: 30px;
    white-space: nowrap;
  }

  
  
}