/* soft.module.css */

.container {
  padding-top: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    padding-top: 10em;
    /* background-color: aliceblue; */
    /* gap: 5%;  */
  }
  
  .Text {
    position: relative;
    top: 6em; /* Ajuste a coordenada 'top' conforme necessário */
    left:-2px; /* Ajuste a coordenada 'left' conforme necessário */
    color: aliceblue;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    z-index: 1; /* Garante que o novo texto esteja acima do texto anterior */
  }
  
  .textInH1 {
    position: relative;
    color: #a88c43; /* Cor desejada */
    font-family: 'Fonte desejada', sans-serif; /* Substitua 'Fonte desejada' pela fonte desejada */
    font-size: 10em; /* Tamanho da fonte (reduzi para um valor mais comum) */
    font-weight: bold; /* Texto em negrito */
  }
  @media screen and (max-width: 600px) {
    .Text {
    position: relative;
    top: 6em; /* Ajuste a coordenada 'top' conforme necessário */
    left:-2px; /* Ajuste a coordenada 'left' conforme necessário */
    color: aliceblue;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    z-index: 1; /* Garante que o novo texto esteja acima do texto anterior */
  }
  
  .textInH1 {
    color: #a88c43; /* Cor desejada */
    font-family: 'Fonte desejada', sans-serif; /* Substitua 'Fonte desejada' pela fonte desejada */
    font-size: 3.8em; /* Tamanho da fonte (reduzi para um valor mais comum) */
    font-weight: bold; /* Texto em negrito */
    white-space: nowrap;
  }
}
  
  .soft {
    text-align: center;
    /* background-color: rgb(15, 15, 15); */
    /* width: 45%; */
    /* margin: 10%; */
  }
  
  .icon {
    max-width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
  }
  

  .t1{
    color:aliceblue;
    font-weight: bold;
  }
  .t2{
    color: aliceblue;
  }