/* Slideshow.module.css */
/* .container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  } */
  
  .Text {
    position: relative;
    top: -15em;
    left: 102%;
    color: aliceblue;
    font-weight: bold;
    font-size: 4em;
    width: 65%;
    text-align: center;
  }
  
  
  
  .container2 {
    display: flex;
    flex-direction: row;
    /* gap: %; */
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top: 52%;
    /* background-color: aliceblue; */
    width: 100%;
  }
  
 
  
  .card1{
    position: relative;
    left: -34em;
    top: -40em;
 
  }
  .card2{
    position: relative;
    left: -33em;
    top: -30em;
    
  }
  .card3 {
    position: relative;
    left: -33em; /* Mantenha a coordenada left para a posição horizontal */
    top: -40em; /* Mantenha a coordenada top para a posição vertical */
  }
  .bottomText {
    position: absolute;
    bottom: -90px; /* Ajuste a distância da parte inferior conforme necessário */
    text-align: center;
    width: 100%;
    color: #fff; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte do texto */
    /* Outros estilos desejados para o texto na parte inferior */
  }
  
  @media screen and (max-width: 600px) {
    .Text {
      position: relative;
      top: -17em;
      left: 2.2em;
      color: aliceblue;
      font-weight: bold;
      font-size: 2.3em;
      width: 65%;
      text-align: center;
    }
    
    
    
    .container2 {
      display: flex;
      flex-direction: row;
      /* gap: %; */
      flex-wrap:wrap;
      justify-content:space-around;
      margin-top: 232%;
      /* background-color: aliceblue; */
      width: 100%;
    }
    
   
    
    .card1{
      position: relative;
      left: 0.5em;
      top: -30em;
   
    }
    .card2{
      position: relative;
      left: 0.5em;
      top: -15em;
      
    }
    .card3 {
      position: relative;
      left: 0.5em; /* Mantenha a coordenada left para a posição horizontal */
      top: -4em; /* Mantenha a coordenada top para a posição vertical */
    }
    
    
}